src/*.exe
src/spectrecoin
src/spectrecoind
src/test_spectre
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.P
*.patch
*.dat
*.autosave
.spectrecoin
#compilation and Qt preprocessor part
*.qm
Makefile
spectre
#resources cpp
qrc_*.cpp
#moc
moc_*.cpp
#ui
ui_*.h
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
