src/*.exe
src/spectrecoin
src/spectrecoind
src/test_spectre
src/build.h
src/.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.P
*.dat
*.autosave
.spectrecoin
#compilation and Qt preprocessor part
*.qm
spectre
#resources cpp
qrc_*.cpp
#moc
moc_*.cpp
#ui
ui_*.h
#qt creator
*.pro.user
#mac specific
.DS_Store
build
db4.8/build_unix
.deps
.dirstamp
Makefile
Makefile.in
config.log
configure
depcomp
missing
install-sh
config.guess
config.status
config.sub
test-driver
aclocal.m4
autom4te.cache
ar-lib
compile
libtool
ltmain.sh

!db4.8/build_unix/configure
openssl-1.1.0h
spectre.config
spectre.creator
spectre.creator.user
spectre.files
spectre.includes
=
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Spectre.app
boost_1_67_0/
libevent-2.1.8-stable/
packages64bit/
src/spectre.pdb
*.dll
src/x64/
src/bin/
src/.vs/
src/src.vcxproj
src/src.vcxproj.user
src/src.vcxproj.filters
src/spectre.lib
src/spectre.exp
src/mocinclude.opt
src/.qmake.stash
src/debug/
src/release/moc_predefs.h.cbt
src/release/mocinclude.opt
src/release/moc_predefs.h
src/spectre.ilk
packages64bit.zip
src/src.sln
packages64bit_static/
doc/Windows build instructions.docx
doc/Windows build instructions.pdf
doc/~$ndows build instructions.docx

openssl-1\.1\.0h\.tar\.gz

boost_1_67_0\.tar\.gz

Makefile\.am\.user
/build-src-Desktop_Qt*
/Prebuild.Spectre.libraries.zip

# CLion/IntelliJ files
.idea/
*.iml
cmake-build-debug/

moc_predefs.h
/build-tests-Desktop_Qt*
