# SPDX-FileCopyrightText: © 2020 Alias Developers
# SPDX-FileCopyrightText: © 2016 SpectreCoin Developers
#
# SPDX-License-Identifier: MIT

src/version.cpp export-subst

# Shell scripts etc
*.sh eol=lf
configure eol=lf
configure.ac eol=lf
Makefile.am eol=lf
