[submodule "tor"]
  path = tor
  url = https://git.torproject.org/tor.git
  branch = 1f7f930f9ef27a5fd289df23695df97d0fe262b7
[submodule "leveldb"]
  path = leveldb
  url = https://github.com/bitcoin-core/leveldb
  branch = 64052c76c567cff3dad32d1db0ef969d97b5882f
